body {
		background: linear-gradient(to top,#70d0ff,#96ddff,#70d0ff);
			background-color: #96ddff;
		}
		
		.image img {

		background-color: #00b9e8;
		border-radius: 50px;
		border-color: #19d0ff;
		border-style: inset;
		}
		.image {
			text-align: center;
		}
		.back li {
			display: inline-block;
			background-color: #00b9e8;
			padding: 5px;
			line-height: 18pt;
			font-size: 15pt;
			font-weight: bold;
			border-style: outset;
			border-color: #19d0ff;
			color: #f2faff;
		

		}
		.center {
			text-align: center;
		}